body {
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    background-color: #999583;
    min-height: 100vh;

}
.top-frame, .main-content, .bottom-frame {
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.top-frame {
    background-color: #999583;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.top-frame img {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 150px; 
    height: auto;
    border-radius: 12px;
}
.main-content {
    display: flex;
    flex: 1;
}
.left-frame {
    width: 200px;
    background-color: #999583;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 12px;
    margin-right: 20px;
}
.right-frame {
    flex: 1;
    background-color: #999583;
    padding: 10px;
    border-left: 1px solid #ccc;
    border-radius: 12px;
    overflow-y: auto;
}
button {
    padding: 8px;
    border: none;
    background-color: #425B42;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
button:hover {
    background-color: #736958;
}

h1, h2, h3, p {
    color: #333333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    letter-spacing: 1px;
}
h1 {
    font-size: 2rem;
    padding-bottom: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
}

h2 {
    font-size: 1.5rem;
}
p {
    font-size: 1rem;
    padding-bottom: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
}
.lab-content {
    display: none;
}
a {
    text-decoration: none;
    color: #425B42;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
    display: block;
    margin-bottom: 10px;
}

a:hover {
    color: #736958;
}
code {
    background: rgba(115, 105, 88, 0.22);
    display: block;
    padding: 10px;
    margin-top: 10px;
    white-space: pre-wrap;
    border-left: 4px solid #425B42;
}